<!-- Polymer base element -->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- App routing elements -->
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<!-- App layout elements -->
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">

<!-- App Theme -->
<link rel="import" href="../../themes/{$ config.appTheme $}/theme.html">

<!-- JSONP Elements -->
<link rel="import" href="../../bower_components/byutv-jsonp/byutv-jsonp.html">

<!-- Iron elements -->
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/iron-validatable-behavior/iron-validatable-behavior.html">
<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">

<!-- Animation elements -->
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">

<!-- Custom elements -->
<link rel="import" href="../../bower_components/l2t-paper-slider/l2t-paper-slider.html">

<!-- Paper elements -->
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../bower_components/paper-search/paper-search.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<!-- Cranberry elements -->
<link rel="import" href="../gigya-socialize/gigya-socialize.html">
<link rel="import" href="../gigya-update-profile/gigya-update-profile.html">
<link rel="import" href="../gigya-change-password/gigya-change-password.html">
<link rel="import" href="../gigya-forgot-password/gigya-forgot-password.html">
<link rel="import" href="../gigya-login/gigya-login.html">
<link rel="import" href="../gigya-register/gigya-register.html">
<link rel="import" href="../gigya-top-comments/gigya-top-comments.html">
<link rel="import" href="../gigya-user-comments/gigya-user-comments.html">
<link rel="import" href="../cranberry-content-list/cranberry-content-list.html">
<link rel="import" href="../cranberry-featured-content/cranberry-featured-content.html">
<link rel="import" href="../cranberry-gallery/cranberry-gallery.html">
<link rel="import" href="../cranberry-section/cranberry-section.html">
<link rel="import" href="../cranberry-styles/cranberry-styles.html">
<link rel="import" href="../cranberry-story/cranberry-story.html">
<link rel="import" href="../cranberry-contact-page/cranberry-contact-page.html">
<link rel="import" href="../gigya-sharebar/gigya-sharebar.html">
<link rel="import" href="../cranberry-jail-mugs/cranberry-jail-mugs.html">
<link rel="import" href="../cranberry-search/cranberry-search.html">
<link rel="import" href="../cranberry-search-bar/cranberry-search-bar.html">
<link rel="import" href="../google-dfp/google-dfp.html">

<dom-module id="cranberry-base">
  <template>
    <!-- include shared styles and theme stylesheet -->
    <style include="shared-styles">
      @import "theme.css";
    </style>

    <!-- base media queries -->
    <iron-media-query query="(min-width: 1280px)" query-matches="{{logo}}"></iron-media-query>
    <iron-media-query query="(min-width: 960px)" query-matches="{{desktop}}"></iron-media-query>
    <iron-media-query query="(min-width: 720px) and (max-width:959px)" query-matches="{{tablet}}"></iron-media-query>
    <iron-media-query query="(max-width: 719px)" query-matches="{{mobile}}"></iron-media-query>

    <!-- Gigya socialize/accounts integration -->
    <gigya-socialize user="{{user}}"></gigya-socialize>

    <!-- local browser storage -->
    <iron-localstorage id="localStorage" name="{$ config.appNameId $}"
      value="{{storage}}"
      on-iron-localstorage-load-empty="initializeDefaultStorage">
    </iron-localstorage>

    <!-- app path routing -->
    {% include "cranberry-base/views/routes.html" %}
    <iron-meta id="metaSection" key="section" value="{{section}}"></iron-meta>

    <app-drawer-layout responsive-width="1280px">
      <!-- side navigation drawer -->
      {% include "cranberry-base/views/drawer.html" %}

      <app-header-layout>
        <!-- header toolbar -->
        {% include "cranberry-base/views/header.html" %}

        <!-- content area -->
        {% include "cranberry-base/views/pages.html" %}
      </app-header-layout>

    </app-drawer-layout>

    <paper-toast id="confirmToast" class="Toast" duration="8000">
      <span class="Toast-button" role="button" tabindex="0" on-tap="onConfirmToastTap">OK</span>
    </paper-toast>

    <paper-toast id="infoToast" class="Toast" duration="8000"></paper-toast>

  </template>

  <!-- include base js module -->
  <script src="cranberry-base.js"></script>

</dom-module>
