<!-- Polymer base element -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">

<!-- App routing elements -->
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<!-- App layout elements -->
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/blend-background.html">

<!-- App Theme -->
<link rel="import" href="../../themes/{$ config.appTheme $}/theme.html">

<!-- Iron elements -->
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Animation elements -->
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">

<!-- Paper elements -->
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<!-- Gigya elements -->
<link rel="import" href="../gigya-socialize/gigya-socialize.html">

<!-- Analytics elements -->
<link rel="import" href="../cranberry-google-analytics/cranberry-google-analytics.html">

<!-- Cranberry elements -->
<link rel="import" href="../cranberry-script-loader/cranberry-script-loader.html">
<link rel="import" href="../cranberry-contact-page/cranberry-contact-page.html">
<link rel="import" href="../cranberry-gallery/cranberry-gallery.html">
<link rel="import" href="../cranberry-story/cranberry-story.html">
<link rel="import" href="../cranberry-section/cranberry-section.html">
<link rel="import" href="../cranberry-story/cranberry-story.html">
<link rel="import" href="../cranberry-styles/cranberry-styles.html">
<link rel="import" href="../cranberry-search/cranberry-search.html">
<link rel="import" href="../cranberry-search-bar/cranberry-search-bar.html">
<link rel="import" href="../cranberry-archive-page/cranberry-archive-page.html">
<link rel="import" href="../cranberry-calendar/cranberry-calendar.html">
<link rel="import" href="../cranberry-nativo-story/cranberry-nativo-story.html">
<link rel="import" href="../cranberry-breaking-bar/cranberry-breaking-bar.html">
<link rel="import" href="../cranberry-static-section/cranberry-static-section.html">
<link rel="import" href="../cranberry-header-links/cranberry-header-links.html">
<link rel="import" href="../cranberry-jail-mugs/cranberry-jail-mugs.html">
<link rel="import" href="../cranberry-news-archive/cranberry-news-archive.html">
<link rel="import" href="../google-dfp/google-dfp.html">

<dom-module id="cranberry-base">
  <template>
    <!-- include shared styles and theme stylesheet -->
    <style include="shared-styles">
      @import "theme.css";
      app-header ::content #backgroundFrontLayer {
        @media (--header-breakpoint) {
          background: var(--dark-primary-color) url("{$ theme.global.location $}");
          background-size: cover;
          background-position: bottom;
        }
      }
    </style>

    <!-- base media queries -->
    <iron-media-query query="(min-width: 1280px)" query-matches="{{logo}}"></iron-media-query>
    <iron-media-query query="(min-width: 960px)" query-matches="{{desktop}}"></iron-media-query>
    <iron-media-query query="(min-width: 720px) and (max-width:959px)" query-matches="{{tablet}}"></iron-media-query>
    <iron-media-query query="(max-width: 719px)" query-matches="{{mobile}}"></iron-media-query>

    <!-- Script loader -->
    <cranberry-script-loader></cranberry-script-loader>

    <!-- Google Analytics -->
    <cranberry-google-analytics user="[[user]]" tracking-id="{$ config.google.analytics $}"></cranberry-google-analytics>

    <!-- Gigya socialize/accounts integration -->
    <gigya-socialize user="{{user}}" route="[[route]]" api-key="{$ config.gigya.apiKey $}"></gigya-socialize>

    <!-- local browser storage -->
    <iron-localstorage id="localStorage" name="{$ config.appNameId $}"
      value="{{storage}}"
      on-iron-localstorage-load-empty="initializeDefaultStorage">
    </iron-localstorage>

    <!-- app path routing -->
    {% include "cranberry-base/views/routes.html" %}

    <paper-dialog id="globalModal" modal auto-fit-on-attach on-iron-overlay-opened="_disableDocumentScrolling" on-iron-overlay-closed="_restoreDocumentScrolling">
      <paper-dialog-scrollable>
        <div class="content-area">
        </div>
        <div class="close-button-container">
          <paper-button class="modal-close" on-tap="_clearModal" raised dialog-dismiss>CLOSE</paper-button>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

    <app-drawer-layout responsive-width="1279px">
      <!-- side navigation drawer -->
      {% include "cranberry-base/views/drawer.html" %}

      <app-header-layout>
        <!-- header toolbar -->
        {% include "cranberry-base/views/header.html" %}

        <!-- content area -->
        <cranberry-breaking-bar rest="{$ config.baseEndpointUrl $}" mobile="[[mobile]]" tablet="[[tablet]]" desktop="[[desktop]]"></cranberry-breaking-bar>

        {% include "cranberry-base/views/pages.html" %}
      </app-header-layout>
      <paper-toast id="confirmToast" class="Toast" duration="4000">
        <span class="Toast-button" role="button" tabindex="0" on-tap="onConfirmToastTap">OK</span>
      </paper-toast>

      <paper-toast id="infoToast" class="Toast" duration="4000" always-on-top></paper-toast>

      <!-- Global Tout LIVE CHANNEL element -->
      <!--<tout-element id="liveChannelTout" placement="tout-live-channel" slot="live-player" player="live_channel" route-data="[[data]]"></tout-element>-->
    </app-drawer-layout>

  </template>
  <!-- include base js module -->
  <script src="cranberry-base.js"></script>

</dom-module>
