:host {
  display: block;
}

div.header-advertisement {
  @apply(--layout-center-justified);
  @apply(--layout-horizontal);
  padding: 0 16px 16px;
}

/* Gallery Container Button Styles */
paper-button.rounded-button {
  border-radius: 50%;
  margin: 0;
  min-width: 1px;
  height: 50px;
  width: 50px;
}

div.gallery-slider-container cranberry-slider div.gallery-tag {
  @apply(--paper-font-button);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  color: var(--text-dark-accent-color);
  padding: 6px;
}

div.gallery-slider-container cranberry-slider div.expand-link {
  position: absolute;
  top: 20px;
  right: 25px;
}

div.gallery-slider-container cranberry-slider div.expand-link paper-button {
  background: var(--dark-primary-color);
  color: var(--text-dark-accent-color);
}

div.gallery-slider-container cranberry-slider div.share-buttons {
  @apply(--layout-horizontal);
  @apply(--layout-around-justified);
  @apply(--layout-flex);
  position: absolute;
  bottom: -25px;
  right: 5%;
}

div.gallery-slider-container cranberry-slider div.share-buttons paper-button {
  background: var(--dark-primary-color);
  color: var(--text-dark-accent-color);
  margin-right: 25px;
  bottom: -5px;
}

/* Description Text Styles */
div.gallery-description-container p.gallery-date {
  @apply(--paper-font-caption);
  color: var(--accent-color);
}

div.gallery-description-container h2.gallery-headline {
  @apply(--paper-font-display1);
  margin: 0;
}

div.gallery-description-container p.gallery-description {
  @apply(--paper-font-body1);
}

/* Bottom Image Styles */
div.gallery-description-container div.content-container {
  @apply(--layout-horizontal);
  @apply(--layout-around-justified);
  @apply(--layout-wrap);
}

div.gallery-description-container div.content-container div.gallery-images-container {
  @apply(--layout-horizontal);
  @apply(--layout-flex-2);
  @apply(--layout-wrap);
  @apply(--layout-center-justified);
  @apply(--layout-self-start);
  min-width: 300px;
}

div.gallery-description-container div.content-container div.gallery-container-ad {
  @apply(--layout-flex);
  max-width: 300px;
}

div.gallery-description-container div.content-container div.gallery-images-container iron-image.gallery-image {
  width: 100px;
  height: 100px;
  margin: 0 6px 6px 0;
  cursor: pointer;
}

div.recommended-container {
  @apply(--layout-horizontal);
  @apply(--layout-around-justified);
  @apply(--layout-wrap);
  margin-bottom: 24px;
}

div.recommended-container div.youneeq-container {
  @apply(--layout-horizontal);
  @apply(--layout-flex-2);
  margin-right: 50px;
}

div.recommended-container div.recommended-content-container {
  @apply(--layout-vertical);
  @apply(--layout-flex);
  max-width: 300px;
}

/* Comments styles */
div.comments-container {
  @apply(--layout-center-justified);
  @apply(--layout-horizontal);
}

div.comments-container gigya-comments {
  width: 100%;
}
