div {
  margin-bottom: 14px;
}
/* Utilities classes */
.ut-center {
  text-align: center;
}

/* Gallery Container styles*/
.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Button Styles */
.flex-absolute {
  @apply(--layout-horizontal);
  @apply(--layout-flex);
  position: absolute;
  bottom: -25px;
  right: 5%;
  z-index: 10;
  margin-bottom: 0;
}

.flex-absolute.share-buttons {
  bottom: -25px;
  right: 5%;
}

.flex-absolute.tag-links {
  top: 0;
  left: 0;
  height: 30px;
}

.flex-absolute.expand-link {
  top: 20px;
  right: 25px;
  height: 50px;
}

/* Gallery Headline */
h1.gallery-title {
  @apply(--paper-font-display1);
  margin-bottom: 0;
}

p.caption-text {
  @apply(--paper-font-caption);
}

p.time-stamp {
  @apply(--paper-font-caption2);
}

p.body-text {
  @apply(--paper-font-body1);
}

paper-button {
  background: var(--dark-primary-color);
  color: var(--text-dark-accent-color);
}

paper-button#buyButton {
  bottom: -5px;
  margin-right: 25px;
}

.rounded-button {
  border-radius: 50%;
  margin: 0;
  min-width: 1px;
  height: 50px;
  width: 50px;
}

.flex-absolute.tag-links paper-button {
  background-color: var(--accent-color);
  color: var(--text-dark-accent-color);
  border-radius: 0;
  margin: 0;
}

/* Temp ad style */
.ad {
  max-width: 320px;
}

/* Paper dialog modal styles */
paper-dialog {
  z-index: 99999999999 !important;
  background-color: var(--dark-theme-primary-background-color);
  width: 100%;
  height: 100%;
  margin: 0;
}

paper-dialog > * {
  margin: 0;
  padding: 0;
}

paper-dialog paper-button {
  background-color: var(--dark-theme-primary-background-color);
  display: block;
  margin: 0 auto;
  width: 50px;
  text-align: center;
}

paper-dialog cranberry-slider {
  margin: 0 auto;
  margin-bottom: 150px;
  max-width: 1200px;
  padding: 0;
}

div.right-rail gigya-top-comments::shadow div.wrapper {
  margin: 0;
}

/* New Gallery Styles */
div.content-container {
  @apply(--layout-horizontal);
  @apply(--layout-around-justified);
  @apply(--layout-wrap);
}

div.photo-grid {
  @apply(--layout-flex);
  min-width: 800px;
}

div.photo-grid iron-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-right: 4px;
}

div.right-rail {
  @apply(--layout-column);
  width: 300px;
  margin-left: 12px;
}
