:host {
  display: block;
}



#credit {
  font-size: .9em;
  color: #999;
  @apply(--layout-end);
  padding:0 10px;
}

#wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

#wrapper.ut-float-right {
  float: right;
  width: 50%;
  margin: 6px 0 0 10px;
}

#wrapper.ut-float-left {
  float: left;
  width: 50%;
  margin: 6px 10px 0 0;
}

#wrapper[mobile-layout].ut-float-right {
  float: none;
  clear: both;
  width: 100%;
  margin: 6px 0 0 0;
}

#wrapper[mobile-layout].ut-float-left {
  float: none;
  clear: both;
  width: 100%;
  margin: 6px 0 0 0;
}

.quote-wrapper {
  height: 60px;
  width: 85px;
  overflow: hidden;
  position: absolute;
}

.left-quote {
  top: 0;
  left: 100px;
}

.right-quote {
  bottom: 0;
  right: 100px;
}

.quote-text-wrapper {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.quote-text-wrapper span {
  font-size: 42px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.87);
}
.front-quote {
  font-size: 208px;
  line-height: 150px;
  font-family: "Arial Bold";
  color: #50bd9f;

}

.back-quote {
  font-size: 208px;
  line-height: 150px;
  font-family: "Arial Bold";
  color: #50bd9f;
}
