:host {
  display: block;
}

blockquote span {
  position: absolute;
  bottom: 0;
  right: 15%;
  font-size: 14px;
  color: #999;
}

blockquote {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 60px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

blockquote[mobile-layout] {
  font-size: 20px;
  line-height: 20px;
}

blockquote[mobile-layout]:before,
blockquote[mobile-layout]:after  {
  width: 40px;
  height: 40px;
  font-size: 90px;
}

blockquote:before, blockquote:after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 120px;
  line-height: 1;
}

blockquote:before {
  font-family: "Arial-Bold";
  color: #50bd9f;
  top: 0;
  left: 0;
  content: "\201C";
}

blockquote:after {
  font-family: "Arial-Bold";
  color: #50bd9f;
  bottom: 0;
  right: 0;
  content: "\201D";
}
