:host {
  display: block;
}

.output {
  @apply(--paper-font-error);
}

paper-input,
paper-textarea {
  margin-bottom: 10px;
}

paper-button {
  @apply(--paper-font-button);
}

paper-button#submitButton {
  margin-left: 0;
}

re-captcha {
  padding: 12px 0;
}
