:host {
  display: block;
  width: 100%;
}

h3.related-headline {
  @apply(--paper-font-display2);
  border-bottom: 4px solid var(--accent-color);
  margin-bottom: 0;
}

div.content-wrapper {
  margin: 12px 0;
}

div.content-wrapper a {
  text-decoration: none;
}

iron-image.related-gallery-image {
  width: 100%;
  height: 200px;
}

div.related-title {
  @apply(--paper-font-subhead);
}

div.related-caption {
  @apply(--paper-font-caption);
}
