:host {
  display: block;

  --paper-tabs: {
    @apply(--layout-around-justified);
    @apply(--layout-flex);
  };

  --paper-toolbar: {
    background-color: var(--dark-primary-color);
    color: var(--text-dark-primary-color);
  };

  --paper-tabs-selection-bar-color: var(--accent-color);
}

div.header-advertisement {
  @apply(--layout-center-justified);
  @apply(--layout-horizontal);

  padding: 0 16px 16px;
}
