:host {
  display: block;
}

.ut-hide {
  display: none;
  visibility: hidden;
}

paper-material {
  background-color: #fff;
}
paper-material {
  line-height: normal;
  padding: 10px;
  position: absolute;
  right: 0;
}

paper-material .gig-button-text {
  color: var(--secondary-text-color);
}

::shadow #shareButton {
  width: 56px;
  height: 56px;
  background: var(--dark-accent-color);
}
