<!-- App-toolbar header panel -->
<app-drawer id="drawer" swipe-open>
  <!-- Drawer Content -->
  <div class="Drawer-content">
    <app-toolbar class="Drawer-header">

    </app-toolbar>
    <!-- Navigation -->
    <div class="Drawer-info">

      <a data-route="/" href="/">
        <iron-image class="Drawer-logo" preload src="{$ theme.global.logo $}" fade></iron-image>
      </a>

      <iron-image class="Drawer-location" src="{$ theme.global.location $}" preload sizing="cover" fade></iron-image>

    </div>
    <nav class="Drawer-widget">
      <cranberry-search-bar class="Drawer-search" id="drawerSearch"></cranberry-search-bar>

      <paper-menu class="Navigation Navigation--menu list" attr-for-selected="data-route" selected="[[route.path]]">
        <a class="Navigation-link" data-route="/" href="/">
          <iron-icon class="Navigation-icon" icon="home"></iron-icon>
          <span class="Navigation-text">Home</span>
        </a>
        <!-- Static above taxonomy links -->
        <a class="Navigation-link" data-route="/section/obituary" href="/section/obituary">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Obituaries</span>
        </a>

        <a class="Navigation-link" data-route="/elogin" href="/elogin">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">E-Paper</span>
        </a>

        <a class="Navigation-link" data-route="/galleries" href="/galleries">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Galleries</span>
        </a>

        <!-- Core Taxonomy -->
        <a class="Navigation-link" data-route="/section/news" href="/section/news">
          <iron-icon class="Navigation-icon" icon="chrome-reader-mode"></iron-icon>
          <span class="Navigation-text">News</span>
        </a>

        <a class="Navigation-link" data-route="/section/opinion" href="/section/opinion">
          <iron-icon class="Navigation-icon" icon="communication:chat-bubble"></iron-icon>
          <span class="Navigation-text">Opinion</span>
        </a>

        <a class="Navigation-link" data-route="/section/announcements" href="/section/announcements">
          <iron-icon class="Navigation-icon" icon="star"></iron-icon>
          <span class="Navigation-text">Announcements</span>
        </a>

        <a class="Navigation-link" data-route="/section/sports" href="/section/sports">
          <iron-icon class="Navigation-icon" icon="maps:directions-run"></iron-icon>
          <span class="Navigation-text">Sports</span>
        </a>

        <a class="Navigation-link" data-route="/section/entertainment" href="/section/entertainment">
          <iron-icon class="Navigation-icon" icon="image:palette"></iron-icon>
          <span class="Navigation-text">Entertainment</span>
        </a>

        <a class="Navigation-link" data-route="/section/lifestyle" href="/section/lifestyle">
          <iron-icon class="Navigation-icon" icon="maps:local-cafe"></iron-icon>
          <span class="Navigation-text">Lifestyle</span>
        </a>

        <a class="Navigation-link" data-route="/contact" href="/contact">
          <iron-icon class="Navigation-icon" icon="icons:mail"></iron-icon>
          <span class="Navigation-text">Contact Us</span>
        </a>

        <a class="Navigation-link" data-route="/story" href="/story/201201010002">
          <iron-icon class="Navigation-icon" icon="icons:mail"></iron-icon>
          <span class="Navigation-text">Shortcode</span>
        </a>

        <!-- <a class="Navigation-link" data-route="/jail-mugs" href="/jail-mugs">
          <iron-icon class="Navigation-icon" icon="icons:lock"></iron-icon>
          <span class="Navigation-text">Jail Mugs</span>
        </a>

        <a class="Navigation-link" data-route="/archive" href="/archive">
          <iron-icon class="Navigation-icon" icon="hardware:keyboard"></iron-icon>
          <span class="Navigation-text">Archive</span>
        </a> -->

        <!-- Below Taxonomy Links -->
        <a class="Navigation-link" data-route="/tags/decision-2016" href="/tags/decision-2016">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Decision 2016</span>
        </a>

        <a class="Navigation-link" data-route="/tags/c25k" href="/tags/c25k">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Fit Challenge</span>
        </a>

        <a class="Navigation-link" data-route="/games" href="/games">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Games + Puzzles </span>
        </a>

        <a class="Navigation-link" data-route="/section/law-enforcement" href="/section/law-enforcement">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Law Enforcement</span>
        </a>

        <a class="Navigation-link" data-route="/tags/cedar-point" href="/tags/cedar-point">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Cedar Point</span>
        </a>

        <a class="Navigation-link" data-route="/calendar" href="/calendar">
          <iron-icon class="Navigation-icon" icon=""></iron-icon>
          <span class="Navigation-text">Calendar</span>
        </a>
      </paper-menu>

    </nav>

    <span class="u-spacer"></span>

    <div class="Drawer-widget Drawer-widget--bottom">

      <!-- <paper-menu class="Navigation Navigation--menu list" attr-for-selected="data-route" selected="[[data.page]]">

        <a class="Navigation-link" data-route="settings" href="/settings" rel="nofollow">
          <iron-icon class="Navigation-icon" icon="settings"></iron-icon>
          <span class="Navigation-text">Site Settings</span>
        </a>

      </paper-menu>

      <div class="Navigation">

        <a class="Navigation-link" data-route="styles" href="/styles">
          <iron-icon class="Navigation-icon" icon="aspect-ratio"></iron-icon>
          <span class="Navigation-text">Styles</span>
        </a>

      </div> -->

    </div>

    <div class="Drawer-widget Drawer-widget--footer">

      <span>{$ config.appVersion $}</span>

    </div>

  </div>

</app-drawer>
