<!-- App-toolbar header panel -->
<app-drawer id="drawer" swipe-open>
  <!-- Drawer Content -->
  <div class="Drawer-content">
    <!-- <div class="Drawer-header" hidden$="[[logo]]">
      &nbsp;
    </div> -->
    <!-- Navigation -->
    <div class="Drawer-info" hidden$="[[!logo]]">

      <a data-route="/" 
         href="/"
         on-tap="_checkDrawer"
         ga-on="click"
         ga-event-category="Home Logo Clicked"
         ga-event-action="uti_hml_desk">
        <iron-image class="Drawer-logo" src="{$ theme.global.logo $}" sizing="contain"></iron-image>
      </a>

      <iron-image class="Drawer-location" src="{$ theme.global.location $}" preload sizing="cover" fade></iron-image>

    </div>
    <nav class="Drawer-widget">
      <cranberry-search-bar class="Drawer-search" id="drawerSearch"></cranberry-search-bar>
      <div class="Drawer-promo">
        <a href="{$ config.promo.link $}" target="_blank" on-tap="_drawerItemSelected" ga-on="click" ga-event-category="Promo Image Clicked" ga-event-action="uti_exlk_promo">
          <iron-image class="Drawer-promoImage" src="{$ config.promo.image $}" sizing="contain"></iron-image>
        </a>
      </div>
      <cranberry-main-navigation rest="{$ config.baseEndpointUrl $}" route="[[route]]"></cranberry-main-navigation>
    </nav>

    <span class="u-spacer"></span>

  </div>

</app-drawer>
