<app-header id="header" condenses reveals effects="blend-background">
  <app-toolbar class="Main-headerToolbar">
      <!-- Main Toolbar -->
      <div class="Main-headerTopBar">
        <paper-icon-button class="Main-headerButton" icon="menu" drawer-toggle></paper-icon-button>
        <!-- Hidden container examples -->
        <div class="Main-siteTitle">
          <div>[[_siteTitle(route)]]</div>
          <div hidden$="{{!_equal(data.page, '')}}"></div>
          <div hidden$="{{!_equal(data.page, 'story')}}"></div>
          <div hidden$="{{!_equal(data.page, 'gallery')}}"></div>
          <div hidden$="{{!_equal(data.page, 'policy')}}"></div>
          <div hidden$="{{!_equal(data.page, 'section')}}"></div>
        </div>
        <div class="Main-siteLogo">
          <a href="{$ config.baseDomain $}"><iron-image src="{$ theme.global.logo $}" fade hidden$="[[logo]]"></iron-image></a>
        </div>
        <div class="Main-siteButtons">
          <iron-media-query query="(min-width: 1280px)" query-matches="{{showLinks}}"></iron-media-query>
          <div class="Main-siteNav" hidden$="[[!showLinks]]">
            <a href="http://www.norwalkreflector.com/?network" target="_blank">Norwalk Reflector</a>
            <a href="http://local.sanduskyregister.com/ads" target="_blank">Today's Ads</a>
            <a href="http://local.sanduskyregister.com" target="_blank">Local Guide</a>
            <a href="http://sanduskyregister.thejobnetwork.com" target="_blank">Job Network</a>
            <a href="http://sanduskyregister.clickitrewards.com" target="_blank">Member Rewards</a>
          </div>
          <paper-icon-button class="Main-headerButton" icon="search" on-tap="_focusSearch"></paper-icon-button>
          <div hidden$="[[!_computeDefaultHide(user.thumbnailURL)]]">
            <a class="link" on-tap="openUserModal"><iron-image width="24" height="24" style="padding:8px;border-radius:48px" preload src="[[_computeThumbnail(user.thumbnailURL)]]" fade sizing="cover"></iron-image></a>
          </div>
          <div hidden$="[[_computeDefaultHide(user.thumbnailURL)]]">
            <span hidden$="[[mobile]]" class="Main-siteNav">Log In</span><paper-icon-button class="Main-headerButton" icon="account-circle" on-tap="openUserModal"></paper-icon-button>
          </div>
        </div>
      </div>
  </app-toolbar>
</app-header>
