<iron-lazy-pages class="Main-content" attr-for-selected="data-route" selected="[[data.page]]" default-selected="">
  <template is="iron-lazy-page" data-route="">
    {% include "cranberry-base/views/pages/home.html" %}
  </template>
  <template is="iron-lazy-page" data-route="story">
    {% include "cranberry-base/views/pages/story.html" %}
  </template>
  <template is="iron-lazy-page" data-route="photo-gallery">
    {% include "cranberry-base/views/pages/gallery.html" %}
  </template>
  <template is="iron-lazy-page" data-route="galleries">
    {% include "cranberry-base/views/pages/galleries.html" %}
  </template>
  <template is="iron-lazy-page" data-route="section">
    {% include "cranberry-base/views/pages/section.html" %}
  </template>
  <template is="iron-lazy-page" data-route="tags">
    {% include "cranberry-base/views/pages/tags.html" %}
  </template>
  <template is="iron-lazy-page" data-route="search">
    {% include "cranberry-base/views/pages/search.html" %}
  </template>
  <template is="iron-lazy-page" data-route="jail-mugs">
    {% include "cranberry-base/views/pages/jail-mugs.html" %}
  </template>
  <template is="iron-lazy-page" data-route="contact">
    {% include "cranberry-base/views/pages/contact.html" %}
  </template>
  <template is="iron-lazy-page" data-route="archive">
    {% include "cranberry-base/views/pages/archive.html" %}
  </template>
  <template is="iron-lazy-page" data-route="promoted">
    {% include "cranberry-base/views/pages/promoted.html" %}
  </template>
  <template is="iron-lazy-page" data-route="calendar">
    {% include "cranberry-base/views/pages/calendar.html" %}
  </template>
  <template is="iron-lazy-page" data-route="policy">
    {% include "cranberry-base/views/pages/policy.html" %}
  </template>
  <template is="iron-lazy-page" data-route="terms">
    {% include "cranberry-base/views/pages/terms.html" %}
  </template>
  <template is="iron-lazy-page" data-route="styles">
    {% include "cranberry-base/views/pages/styles.html" %}
  </template>
  <template is="iron-lazy-page" data-route="forecast">
    {% include "cranberry-base/views/pages/weather.html" %}
  </template>
  <template is="iron-lazy-page" data-route="advantage-member">
    {% include "cranberry-base/views/pages/advantage.html" %}
  </template>
  <template is="iron-lazy-page" data-route="games-page">
    {% include "cranberry-base/views/pages/games.html" %}
  </template>
  <template is="iron-lazy-page" data-route="news-archive">
    {% include "cranberry-base/views/pages/news-archive.html" %}
  </template>
  <template is="iron-lazy-page" data-route="discovernorwalk">
    {% include "cranberry-base/views/pages/discovernorwalk.html" %}
  </template>
</iron-lazy-pages>
