<iron-pages class="Main-content" attr-for-selected="data-route" selected="{{data.page}}" default-selected="">
  <div data-route="">
    {% include "cranberry-base/views/pages/home.html" %}
  </div>
  <div data-route="story">
    {% include "cranberry-base/views/pages/story.html" %}
  </div>
  <div data-route="photo-gallery">
    {% include "cranberry-base/views/pages/gallery.html" %}
  </div>
  <div data-route="galleries">
    {% include "cranberry-base/views/pages/galleries.html" %}
  </div>
  <div data-route="section">
    {% include "cranberry-base/views/pages/section.html" %}
  </div>
  <div data-route="tags">
    {% include "cranberry-base/views/pages/tags.html" %}
  </div>
  <div data-route="search">
    {% include "cranberry-base/views/pages/search.html" %}
  </div>
  <div data-route="jail-mugs">
    {% include "cranberry-base/views/pages/jail-mugs.html" %}
  </div>
  <div data-route="contact">
    {% include "cranberry-base/views/pages/contact.html" %}
  </div>
  <div data-route="archive">
    {% include "cranberry-base/views/pages/archive.html" %}
  </div>
  <div data-route="promoted">
    {% include "cranberry-base/views/pages/promoted.html" %}
  </div>
  <div data-route="calendar">
    {% include "cranberry-base/views/pages/calendar.html" %}
  </div>
  <div data-route="policy">
    {% include "cranberry-base/views/pages/policy.html" %}
  </div>
  <div data-route="terms">
    {% include "cranberry-base/views/pages/terms.html" %}
  </div>
  <div data-route="styles">
    {% include "cranberry-base/views/pages/styles.html" %}
  </div>
  <div data-route="weather">
    {% include "cranberry-base/views/pages/weather.html" %}
  </div>
</iron-pages>
