<app-location route="{{route}}"></app-location>
<app-route route="{{route}}" pattern="/:page" data="{{data}}"></app-route>
<app-route route="{{route}}" pattern="/story" tail="{{storyTail}}"></app-route>
<app-route route="{{route}}" pattern="/photo-gallery" tail="{{galleryTail}}"></app-route>
<app-route route="{{route}}" pattern="/section" tail="{{sectionTail}}"></app-route>
<app-route route="{{route}}" pattern="/tags" tail="{{tagsTail}}"></app-route>
<app-route route="{{route}}" pattern="/jail-mugs" tail="{{jailMugsTail}}"></app-route>
<app-route route="{{route}}" pattern="/search" tail="{{searchTail}}"></app-route>
<app-route route="{{route}}" pattern="/galleries"></app-route>
<app-route route="{{route}}" pattern="/contact"></app-route>
<app-route route="{{route}}" pattern="/archive"></app-route>
<app-route route="{{route}}" pattern="/forecast"></app-route>
<app-route route="{{route}}" pattern="/advantage-member"></app-route>
<app-route route="{{route}}" pattern="/games-page"></app-route>
<app-route route="{{route}}" pattern="/discovernorwalk"></app-route>
<app-route route="{{route}}" pattern="/news-archive"></app-route>
