<app-location route="{{route}}"></app-location>
<app-route route="{{route}}" pattern="/:page" data="{{data}}"></app-route>
<app-route route="{{route}}" pattern="/story" tail="{{storyTail}}"></app-route>
<app-route route="{{route}}" pattern="/photo-gallery" tail="{{galleryTail}}"></app-route>
<app-route route="{{route}}" pattern="/section" tail="{{sectionTail}}"></app-route>
<app-route route="{{route}}" pattern="/jail-mugs" tail="{{jailMugsTail}}"></app-route>
<app-route route="{{route}}" pattern="/search" tail="{{searchTail}}"></app-route>
<app-route route="{{route}}" pattern="/galleries" tail="{{galleriesTail}}"></app-route>
