:host {
  display: block;
}

/* IE 10 support for HTML5 hidden attr */
[hidden] {
  display: none !important;
}

/* Card base styles */
div.card {
  @apply(--layout-flex);
  @apply(--layout-vertical);

  background-color: var(--tertiary-background-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  min-width: 300px;
  overflow: hidden;
}

/* Advertisement cards */
div.card[advertisement] {
  @apply(--layout-center);
  @apply(--layout-vertical);
  background-color: transparent;
  box-shadow: none;
  margin: 0 auto;
  max-width: 100%;
}

div.card[advertisement] ::content google-dfp {
  @apply(--layout-horizontal);
  @apply(--layout-flex);
  @apply(--layout-center);
}

/* Disable text decoration for links in cards */
div.card > a {
  @apply(--layout-flex);
  @apply(--layout-vertical);
  text-decoration: none;
}

/* Card header */
div.card > a > div.card-header {
  @apply(--paper-card-header);
  @apply(--layout-flex);
  @apply(--layout-vertical);

  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  color: var(--text-dark);
  min-height: 150px;
  position: relative;
  z-index: 1;
}

/* Card header icon bar */
div.card > a > div.card-header > div.card-icons {
  color: rgba(255,255,255,0.65);
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
  z-index: 3;
}

/* Card header image needs static positioning, parent element is already relatively positioned */
div.card > a > div.card-header > iron-image.main-image {
  position: static !important;
}

div.card > a > div.card-header div.square-image-title {
  @apply(--layout-flex);
  @apply(--layout-horizontal);
}

div.card > a > div.card-header div.square-image-title > iron-image.square-image {
  @apply(--layout-flex);
  @apply(--layout-self-end);

  flex: 1;
  order: 2;
  min-height: 118px;
  min-width: 66px;
}

div.card > a > div.card-header div.square-image-title > span {
  @apply(--layout-flex);

  flex: 3;
  padding-right: 12px;
}

/* Card header title text WITHOUT image */
div.card > a > div.card-header > div.title-text {
  @apply(--paper-card-header-text);
  @apply(--paper-font-headline);

  color: var(--paper-card-header-color, #000);
  padding: 16px;
  position: relative;
  z-index: 3;
}

/* Card header overlay WITH images, provides photo vignette */
div.card > a > div.card-header > div.card-header-overlay {
  background: radial-gradient(transparent, rgba(0,0,0,0.5));
  height: 100%;
  position: absolute;
  width:100%;
  z-index: 2;
}

/* Card header title text WITH image */
div.card > a > div.card-header > div.title-text.over-image {
  @apply(--paper-font-headline2);

  color: var(--text-accent-color);
  bottom: 0px;
  position: absolute;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  width: calc(100% - 32px);
  white-space: normal;
}

/* Card content area */
div.card > a > div.card-content {
  @apply(--layout-flex-2);
  @apply(--layout-vertical);

  background-color: var(--tertiary-background-color);
}

div.card > a > div.card-content > * {
  padding: 0 16px;
}

/* Content date timestamp */
div.card > a > div.card-content > div.content-date {
  @apply(--layout-flex-start);
  @apply(--paper-font-caption2);
  
  padding-top: 8px;
}

div.card > a > div.card-content > div.content-preview {
  @apply(--layout-flex);

  color: var(--light-theme-primary-text-color);
  word-wrap: break-word;
}

/* Card bottom information bar */
div.card > div.card-info {
  @apply(--paper-font-common-uppercase);

  @apply(--layout-horizontal);
  @apply(--layout-justified);

  background-color: var(--tertiary-background-color);
  border-top: 1px solid #e8e8e8;
  color: var(--accent-color);
  font-weight: 400;
  padding: 5px 16px;
}

/* Remove styles for links in card information bar */
div.card > div.card-info > * > a {
  color: inherit;
  text-decoration: none;
}

/* Flip comment icon direction */
div.card > div.card-info > * iron-icon {
  transform: scaleX(-1);
}

/* Slider style adjustments */
.slider {
  width: 100%;
}

/* CSS info bar at top of cards */
div.css-info {
  @apply(--layout-vertical);
  @apply(--layout-center);
  font-size: 10px;
}
