:host {
  display: block;

  /* postcss-bem-linter: ignore */
  --paper-slide-height: auto;
}

div.featured-content {
  @apply(--layout-horizontal);

  margin-bottom: 16px;
}

div.featured-main {
  @apply(--layout-flex-8);
  @apply(--layout-justified);
  @apply(--layout-vertical);

  min-height: 300px;
}

div.featured-main cranberry-content-card {
  @apply(--layout-flex);
  @apply(--layout-vertical);
}

div.featured-list {
  @apply(--layout-flex-4);
  @apply(--layout-justified);
  @apply(--layout-vertical);
}
