:host {
  display: block;

  /* postcss-bem-linter: ignore */
  --paper-slide-height: auto;

  /* postcss-bem-linter: ignore */
  --paper-slide-dot: var(--light-theme-primary-text-color);

  /* postcss-bem-linter: ignore */
  --paper-slide-dot-selected: var(--accent-color);;
}

div.featured-content {
  @apply(--layout-horizontal);

  margin-bottom: 16px;
}

div.featured-main {
  @apply(--layout-flex-8);
  @apply(--layout-justified);
  @apply(--layout-vertical);

  min-height: 300px;
}

div.featured-main cranberry-card {
  @apply(--layout-flex);
  @apply(--layout-vertical);
}

div.featured-list {
  @apply(--layout-flex-4);
  @apply(--layout-justified);
  @apply(--layout-vertical);
}

l2t-paper-slider ::content .slider {
  margin-bottom: 24px;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 24px;
}

l2t-paper-slider ::content .slider__dots {
  bottom: 0px;
}
l2t-paper-slider ::content .slider__slides {
  background-color: transparent;
}
