:host {
  display: block;
  min-height: 250px;
  min-width: 300px;
};

span.card-tag {
  @apply(--paper-font-caption2);
  display: inline-block;
  padding: 5px;
  background-color: var(--accent-color);
  color: var(--dark-theme-primary-text-color);
}

div.wrapper paper-card {
  flex: 1 1 auto;
  @apply(--layout-vertical);
}

h3.item-title {
  @apply(--paper-font-menu);
  color: var(--light-theme-primary-text-color);
  margin: 0;
}

a {
  text-decoration: none;
}

div.card-content {
  @apply(--layout-vertical);
  padding: 16px 0;
}

paper-card div.card-content div.content-comments {
  @apply(--paper-font-display4);
  margin: 0 0 0 16px;
  min-width: 40px;
}

/* Flip The Comments Icon */
paper-card div.card-content div.content-comments iron-icon {
  transform: scaleX(-1);
  width: 16px;
  height: 16px;
}

div.item {
  @apply(--layout-horizontal);
  @apply(--layout-center);
}

hr.break {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.no-comments-container {
  @apply(--layout-vertical);
  padding: 16px 0;
}

h3.no-comments-text {
  @apply(--paper-font-body2);
  color: var(--light-theme-secondary-text-color);
  margin: 0 0 0 12px;
}
