:host {
  display: block;
  --paper-toolbar: {
    background-color: var(--dark-primary-color);
    color: var(--text-dark-primary-color);
  };
  --paper-dialog-scrollable: {
    margin: 0;
    padding: 0;
  };
  --paper-tabs-selection-bar-color: var(--accent-color);
  --paper-button: {
    @apply(--paper-font-button);
  };
}

div.user-content {
  padding: 24px;
}

div.user-created {
  margin: 14px 0;
}

div.user-name {
  margin-top: 14px;
}

div.user-info {
  @apply(--layout-vertical);
  @apply(--layout-center);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

div.user-settings {
  margin-bottom: 24px;
}

div.user-title {
  @apply(--paper-font-display2);
}

iron-image.user ::content img {
  width: 75px;
  height: 75px;
}

iron-image.user-mugshot {
  overflow:hidden;
  border-radius: 150px;
  display:inline-block;
}

paper-dialog {
  flex: 1 1 100%;
  margin: 0;
  max-width: 860px;
  padding: 0;
  top: 88px;
  width: 100%;
  @media (--sm-viewport) {
    top: 64px;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
  }
}

paper-dialog > *:first-child {
  margin-top: 0;
}

paper-dialog > *:last-child {
  margin-bottom: 0;
}

paper-tab[disabled] {
  color: var(--soft-grey);
}
