:host {
  display: block;
}

div.site-login, div.social-login {
  @apply(--layout-flex-6);
  @media (--sm-viewport) {
    @apply(--layout-flex-12);
  }
}

div.site-login {
  padding-left: 12px;
  @media (--sm-viewport) {
    padding-left: 0;
  }
}

div.social-login {
  margin-bottom: 24px;
  padding-right: 12px;
  @media (--sm-viewport) {
    padding-right: 0;
  }
}

div.site-login-info {
  margin-bottom: 24px;
}

div.user-login {
  flex: 1 1 auto;
  @apply(--layout-horizontal);
  @apply(--layout-top);
  @media (--sm-viewport) {
    @apply(--layout-vertical);
  }
}
