:host {
  display: block;
  width: 100%;
  height: 100%;

  /* postcss-bem-linter: ignore */
  --iron-image-placeholder: {
    background: #2f2f2f;
  };

  /* postcss-bem-linter: ignore */
  --iron-image-width: 100%;

  /* postcss-bem-linter: ignore */
  --iron-image-height: 100%;
}

div.container {
  @apply(--layout-vertical);
  min-height: 100%;
}

div.slider-container {
  @apply(--layout-flex);
  @apply(--layout-vertical);
  display: flex;
  background-color: #2f2f2f;
  /* Relative position for absolute placed items over slider... */
  position: relative;
}

div.slider-container div.mover {
  @apply(--layout-vertical);
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

div.slider-container iron-image {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

div.loading-container {
  @apply(--layout-vertical);
  @apply(--layout-center-justified);
  @apply(--layout-self-center);
  @apply(--layout-center);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.loading-container p {
  color: #fff;
}

div.overlay-previous,
div.overlay-next {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  position: absolute;
  top: 0;
  bottom: 0;
  height: calc(var(--cranberry-slider-height) - 100px);
  width: 15%;
  outline: none;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

div.overlay-previous:hover,
div.overlay-next:hover {
  opacity: 1;
}

div.overlay-previous {
  left: 0;
  @apply(--layout-start-justified);
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
  background: -ms-linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
}

div.overlay-next {
  @apply(--layout-end-justified);
  right: 0;
  background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
  background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
}

div.overlay-next span {
  margin-right: 30px;
  color: #fff;
}

div.overlay-previous span {
  margin-left: 30px;
  color: #fff;
}

div.overlay-next span iron-icon {
  width: 75px;
  height: 75px;
}

div.overlay-previous span iron-icon {
  width: 75px;
  height: 75px;
}

div.overlay-previous[mobile-layout],
div.overlay-next[mobile-layout] {
  display: none;
}


/* Info Styles */
div.info {
  @apply(--paper-font-caption);
  display: block;
  padding: 30px 0;
  width: 100%;
}

div.info[white-text] {
  color: #fff;
}

div.info p.caption iron-icon {
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}

div.info span.index {
  float: left;
}

div.info p.caption {
  display: inline;
  padding: 0 0 0 10px;
}

div.inGalleryAd {
  @apply(--layout-vertical);
  @apply(--layout-center);
  @apply(--layout-center-justified);
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

div.inGalleryAd paper-button.ad-button {
  @apply(--paper-font-button);
  background-color: var(--accent-color);
  color: var(--text-dark-accent-color);
  margin-top: 25px;
}
