:host {
  display: block;

  --paper-dropdown-menu: {
    margin: 12px;
  };
}

div.copy-text {
  text-align: center;
}

div.copy-text h3 {
  @apply(--paper-font-display1);
  margin-bottom: 0;
}

div.copy-text p {
  @apply(--paper-font-body1);
}

form {
  padding: 24px;
}

paper-input.keyword-input {
  margin: 12px;
}

paper-button {
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 0;
  margin: 24px 0;
}
