.ut-center {
  text-align: center;
}

#storyMedia {
  position: relative;
  line-height: 60px;
}

.ut-rowFlex {
  display: flex;
  flex-direction: row;
}

.ut-absolute {
  position: absolute;
  bottom: 0;
  right: 25px;
}

#commentButton {
  background: #005A90;
  margin: 10px 14px 0 0;
}

div {
  padding-bottom: 5px;
}
