/* Temp styling for advertisement */
google-dfp[adpos="top_of_stream"] {
  float: right;
  margin-left: 10px;
}

/* Utilities classes */
.ut-center {
  text-align: center;
}

.ut-rowFlex {
  @apply(--layout-flex);
  @apply(--layout-horizontal);
}

.ut-absolute {
  position: absolute;
  bottom: 0;
  right: 25px;
}

.ut-circle-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

iron-image[desktop-layout] {
  width: 100%;
  height: 645px;
}

iron-image[tablet-layout] {
  width: 100%;
  height: 308px;
}

iron-image[tablet-layout] {
  width: 100%;
  height: 240px;
}

/* General styles */
div {
  padding-bottom: 5px;
}

#storyMedia {
  position: relative;
  line-height: 60px;
}

#commentButton {
  background: #005A90;
  margin: 10px 14px 0 0;
}

#comments {
  background: var(--secondary-text-color);
}

#storyTitle {
  font-size: 2em;
}

#storyByline {
  @apply(--layout-horizontal);
}

#byLineInfo {
  @apply(--layout-vertical);
}

#byLineInfo p {
  margin: 0 0 0 10px;
}
