/* Utilities classes */
.ut-center {
  text-align: center;
}

.ut-rowFlex {
  @apply(--layout-flex);
  @apply(--layout-horizontal);
}

.ut-absolute {
  position: absolute;
  bottom: -28px;
  right: 25px;
}

.ut-circle-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

iron-image[desktop-layout] {
  width: 100%;
  height: 645px;
}

iron-image[tablet-layout] {
  width: 100%;
  height: 308px;
}

iron-image[mobile-layout] {
  width: 100%;
  height: 240px;
}

/* General styles */
div {
  padding-bottom: 5px;
}

#storyMedia {
  position: relative;
  padding-bottom: 0;
  line-height: normal;
  font-size: 0;
}

#mainImageCaption {
  line-height: normal;
  margin: 20px 0 20px 0;
  color: rgba(0, 0, 0, 0.60);
}

.ut-small-icon-margin {
  margin: 10px 14px 0 0;
}

#commentButton {
  background: #005A90;
}

#twitterButton {
  background: #55acee;
}

#facebookButton {
  background: #3b5998;
}

#facebookButton::shadow iron-icon {
  margin-bottom: 2px;
  margin-right: 7px;
}

#storyTitle {
  line-height: normal;
  margin: 0;
}

#storyPublish {
  color: #5bc1a5;
}

#storyByline {
  @apply(--layout-horizontal);
}

#byLineInfo {
  @apply(--layout-vertical);
}

#byLineInfo p {
  margin: 0 0 0 10px;
}

#storyContentArea p {
  color: rgba(0, 0, 0, 0.87);
}

div.content-wrapper {
  @apply(--layout-around-justified);
  @apply(--layout-horizontal);
  @apply(--layout-wrap);
}

/* The minimum and maximum widths will need to be adjusted based on the new break points element */
div.story-content {
  @apply(--layout-flex);
  min-width: 700px;
}

div.right-rail {
  @apply(--layout-flex);
  min-width: 300px;
  max-width: 320px;
  margin: 10px;
}
