:host {
  display: block;
  width: auto;
}

#images {
  @apply(--layout-flex);
}

polyfill-next-selector { content: ':host img'; }
::content img{
  max-width: 100%;
  margin: 0 auto;
}

polyfill-next-selector { content: ':host img:not(:first-child)'; }
::content img:not(:first-child){
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* only the first image is visible by default */
}

polyfill-next-selector { content: ':host img:first-child'; }
::content img:first-child{
  position: relative; /* gives dimensions to the container */
}

.tool-container{
  border:1px solid #ccc;
  padding: 2em 1em 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.frames-container{
  position: relative;
}

.frames-slider{
  width: 100%;
}

.revealer-slider{
  width: 100%;
}

img {
  width: 100%;
  margin: 0 auto;
}
