.testWrapper {
  text-align: center;
}

.container {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  @apply(--layout-center-justified);
  @apply(--layout-wrap);
  margin-bottom: 10px;
}

.vertContainer {
  @apply(--layout-vertical);
}

.vertContainer > div {
  @apply(--layout-flex);
  @apply(--layout-self-stretch);
  margin: 0 4px 4px 4px;
}

.container > div {
  @apply(--layout-self-stretch);
  margin: 4px;
}

.row > div:first-child {
  @apply(--layout-flex-4);
}

.row > div:nth-child(2) {
  @apply(--layout-flex-5);
}

.row > div:nth-child(3) {
  @apply(--layout-flex-4);
}

.row > div:nth-child(4) {
  @apply(--layout-flex-4);
}

.row > div:nth-child(5) {
  @apply(--layout-flex-5);
}

.row > div:last-child {
  @apply(--layout-flex-4);
}

paper-card {
  /* Add min width to paper cards for test grid purposes */
  min-width: 300px;
}

paper-listbox {
  /* Remove canned listbox padding */
  padding: 0;
}
