:host {
  display: block;
  --app-grid-columns: 1;
  --app-grid-gutter: 16px;
  --app-grid-expandible-item-columns: 1;
}

/* Development app grid */
ul {
  list-style: none;
  padding: 0;
}

.item {
  /*border: 1px solid blue;*/
  list-style: none;
  min-height: 250px;
}

.expandable {
  @apply(--app-grid-expandible-item);
}

.item.expandable {
  background-color: transparent;
  min-height: 0;
}

@media (min-width: 1580px) {
  :host {
    --app-grid-columns: 4;
    --app-grid-expandible-item-columns: 4;
  }
}

@media (max-width: 1579px) {
  :host {
    --app-grid-columns: 3;
    --app-grid-expandible-item-columns: 3;
  }
}

@media (max-width: 987px) {
  :host {
    --app-grid-columns: 2;
    --app-grid-expandible-item-columns: 2;
  }
}

@media (max-width: 675px) {
  :host {
    --app-grid-columns: 1;
    --app-grid-expandible-item-columns: 1;
  }
}

/* Content cards and breakpoints */
div.content-cards {
  /*@apply(--layout-horizontal);
  @apply(--layout-center-justified);
  @apply(--layout-wrap);*/

  min-height: 100%;
}

cranberry-card {
  @apply(--layout-flex);
  @apply(--layout-vertical);
  /*border:1px solid red;*/
}

div.leaderboard-advertisement-wrapper {
  @apply(--layout-center);
  @apply(--layout-vertical);
  width: 100%;
  margin: 12px 0;
}

div.leaderboard-advertisement {
  @apply(--layout-vertical);
  @apply(--layout-center);

  flex: 1 1 auto;
  background-color: transparent;
  text-align: center;
}

div.pagination-wrapper {
  @apply(--layout-center);
  @apply(--layout-flex);
  @apply(--layout-vertical);
  margin-top: 24px;
}

div.pagination {
  @apply(--layout-horizontal);
}
