:host {
  display: block;
}
/*div.content-cards-wrapper {
  @apply(--layout-center);
  @apply(--layout-vertical);
}*/
div.content-cards {
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
  @apply(--layout-wrap);

  min-height: 800px;
}

div.content-cards[bp1] {
  margin: 0 5px;
}

div.content-cards[bp2] {
  margin: 0 20px;
}

div.content-cards[bp3] {
  margin: 0 30px;
}

div.content-cards[bp4] {
  margin: 0 40px;
}

div.content-cards[bp5] {
  margin: 0 24px;
}

div.content-cards[bp6] {
  margin: 0 4px;
}

div.content-cards[bp7] {
  margin: 0 36px;
}

div.content-cards[bp8] {
  margin: 0 48px;
}

div.content-cards[bp9] {
  margin: 0 6px;
}

div.content-cards[bp10] {
  margin: 0 26px;
}

div.content-cards[bp11] {
  margin: 0 8px;
}

div.content-cards[bp12] {
  margin: 0 40px;
}

div.content-cards[bp13] {
  margin: 0 10px;
}

div.content-cards > cranberry-card {
  @apply(--layout-vertical);
}

div.leaderboard-advertisement-wrapper {
  @apply(--layout-center);
  @apply(--layout-vertical);
  width: 100%;
}

div.leaderboard-advertisement {
  @apply(--layout-vertical);
  @apply(--layout-center);

  flex: 1 1 auto;
  background-color: transparent;
  text-align: center;
}

div.pagination-wrapper {
  @apply(--layout-center);
  @apply(--layout-flex);
  @apply(--layout-vertical);
  margin-top: 24px;
}

div.pagination {
  @apply(--layout-horizontal);
}
