:host {
  display: block;
}

paper-card {
  width: 90%;
  min-height: 600px;
}

paper-card ul {
  list-style: none;
  text-align: left;
}

paper-card ul li a {
  font-size: 1.2em;
  text-decoration: none;
}

.ut-related-title {
  font-size: 1.4em;
  margin-bottom: 0;
  border-bottom: 4px solid #50bd9f;
  text-align: left;
}

.cranberry-slider-related {
  padding-left: 10px;
  width: 75%;
}
