:host {
  display: block;
}

paper-material {
  background: #ffffff;
}

paper-material cranberry-search-bar {
  padding: 12px;
}

h2.story-headline {
  @apply(--paper-font-headline);
  margin-top: 0;
}

div.ad-container {
  text-align: center;
}

div.main-content {
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
  @apply(--layout-wrap);
  margin-top: 25px;
}

div.vertical-container {
  @apply(--layout-vertical);
  @apply(--layout-flex-4);
  padding: 20px;
}

div.right-rail div.ad-container {
  padding: 20px;
  min-width: 300px;
}

div.search-header-container {
  width: 100%;
  margin-top: 20px;
}

h1.result-header {
  @apply(--paper-font-headline);
  margin: 0;
}

p.total-results {
  @apply(--paper-font-caption);
  color: var(--accent-color);
  margin: 0;
}

div.search-container {
  @apply(--layout-flex-4);
  @apply(--layout-horizontal);
  @apply(--layout-center);
  @apply(--layout-center-justified);
  @apply(--layout-wrap);

  min-width: 300px;
}

div.search-container a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 10px 0;
}

div.story-content {
  @apply(--layout-horizontal);
  @apply(--layout-around-justified);
  @apply(--layout-wrap);
}

div.story-content p {
  @apply(--layout-flex-4);
  @apply(--paper-font-subhead);
  padding: 0 25px 25px 25px;
  margin: 0;
}

div.story-content iron-image {
  width: 150px;
  height: 84px;
}

div.pagination-wrapper {
  @apply(--layout-center);
  @apply(--layout-flex);
  @apply(--layout-vertical);
  margin-top: 24px;
  padding-bottom: 24px;
}

.loading {
  margin-top: 100px;
  text-align: center;
}

p.landing-text {
  @apply(--paper-font-caption);
}

hr.break {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
