:host {
  @apply(--layout-vertical);
  @apply(--layout-center-justified);
}

paper-button {
  @apply(--layout-self-center);
  @apply(--paper-font-button);
  background: var(--accent-color);
  color: var(--text-dark-primary-color);
  width: 180px;
  height: 45px;
  margin-bottom: 25px;
}