:host {
  background: var(--background-color, white);
  display: block;
  padding: 0 16px;
  @apply(--layout-horizontal);
  @apply(--layout-center);


  /* postcss-bem-linter: ignore */
  --paper-input-container: {
    @apply(--layout-horizontal);
    @apply(--layout-center);

    width: 100%;
  };

  /* postcss-bem-linter: ignore */
  --paper-input-container-input: {
    width: 100%;
  };

  --paper-input-container-label: {
    color: var(--disabled-text-color);
  };

  /* postcss-bem-linter: ignore */
  --paper-input-container-label-floating: {
    @apply(--paper-font-headline);
    color: var(--primary-text-color);
  };

  /* postcss-bem-linter: ignore */
  --paper-input-container-label-focus: {
    color: var(--primary-text-color);
  };

  /* postcss-bem-linter: ignore */
  --paper-input-prefix: {
    color: var(--disabled-text-color);
  };

  /* postcss-bem-linter: ignore */
  --paper-input-suffix: {
    color: var(--disabled-text-color);
  };
}

:host paper-material {
  background-color: #fff;
}

:host paper-input-container paper-icon-button {
  padding: 0;
  height: 24px;
  width: 24px;
}

:host paper-input-container::shadow div.input-content {
  width: 100%;
}
