:host {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 14px;
}

div#shortcode::shadow iron-image {
  --iron-image-width: 100%;
  max-width: 600px;
}

:host::shadow .ut-smaller-width {
  width: 90%;
  margin: 0 auto;
}

:host::shadow .ut-height {
  height: 600px;
}

::shadow p.caption-text {
  @apply(--paper-font-caption);
}

div#shortcode::shadow google-youtube {
  height: 400px;
}

div#facebook-post {
  width: 75%;
}
