:host {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 14px;
}

::shadow iron-image {
  --iron-image-width: 100%;
}

::shadow .ut-smaller-width {
  width: 90%;
}

::shadow .ut-height {
  height: 600px;
}

::shadow p.caption-text {
  @apply(--paper-font-caption);
}
