:host {
  display: block;
}

div.profile-card-container {
  flex: 1 1 auto;
}

div.featured {
  @apply(--layout-horizontal);
  @apply(--layout-wrap);
  padding: 16px;
}

div.featured cranberry-card {
  @apply(--layout-vertical);
  flex: 1 1 auto;
  min-height: 500px;
  min-width: 320px;
}

div.featured cranberry-card[mobile-layout] {
  min-height: 300px;
}

div.featured cranberry-card::shadow div.card {
  height: 100%;
}

cranberry-profile-card {
  @apply(--layout-vertical);
  min-height: 500px;
  min-width: 320px;
}

cranberry-profile-card[mobile-layout] {
  min-height: 400px;
  margin-bottom: 16px;
}

div.featured-story {
  flex: 8 8 auto;
}

iron-image {
  width: 100%;
  height: 100%;
}

div.pagination-wrapper {
  @apply(--layout-center);
  @apply(--layout-flex);
  @apply(--layout-vertical);
  margin-top: 24px;
}

div.loading-container {
  @apply(--layout-vertical);
  @apply(--layout-center);
}

div.headline-advertisement {
  @apply(--layout-center-justified);
  @apply(--layout-horizontal);
  padding: 0 16px 16px;
}