:host {
  display: block;
}

div.featured {
  @apply(--layout-horizontal);
  @apply(--layout-wrap);
  padding: 16px;
  height: 500px;
}

div.featured cranberry-card {
  height: 100%;
}

div.featured cranberry-card::shadow div.card{
  height: 100%;
}


cranberry-profile-card {
  @apply(--layout-flex);
  min-width: 400px;
  max-width: 400px;
  height: 100%;
}

div.featured-story {
  @apply(--layout-flex-3);
}

iron-image {
  width: 100%;
  height: 100%;
}